body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    color: #333;
}

header {
    background: #0055a5;
    color: #fff;
    padding: 10px 20px;
    text-align: left;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 10px;
    background: #fff;
    border: 1px solid #ddd;
	flex: 1; /* Allows the section to grow and fill available space */
    overflow: auto; /* Enables scrolling within the section if content overflows */
	
	
}

footer {
    text-align: center;
    padding: 10px 20px;
    background: #222;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}

section.tile {
    width: 300px; /* Adjust width as necessary */
    border: 1px solid #ccc; /* Border around the tile */
    padding: 10px; /* Padding around content */
    text-align: center; /* Center-align text */
    cursor: pointer; /* Change cursor on hover */
}

section.tile img {
    width: 100%; /* Make image fill the container */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 10px; /* Space between image and text */
}

section.tile p {
    font-size: 16px; /* Adjust font size */
    color: #333; /* Text color */
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#picme {
	max-width: 20%;
	height: auto;
	border-radius: 8px;
}